@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Form CSS */
form {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px #888888;
  padding: 20px;
  width: 50vw;
  min-width: 400px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

form h2 {
  margin-bottom: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}

form input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  background-color: #000000;
  color: #ffffff;
}

form #error-msg {
  font-size: 1rem;
  color: red;
}

form #success-msg {
  font-size: 1rem;
  color: green;
}

form #signup-btn {
  padding-block: 8px;
  width: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

form #signup-btn:hover {
  background-color: #f1e8e8;
}

/* Profile CSS */
.profile-container {
  width: 900px;
  height: 500px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px #888888;
  background-color: #000000;
  padding: 5px;
}

.profile-container h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-info{
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.user-info span{
  font-weight: normal;
  font-style: italic;
  color: lightgrey;
}

.img-container {
  border: none;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px -10px #fff;
}

.img-container img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
